
body {
    background-color: #0b1326;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #131b2e;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
}

.sidebar h1 {
    color: #c0c1ff;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.main {
    margin-left: 270px;
    padding: 30px;
}

.card {
    background-color: #171f33;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #c0c1ff;
}

.note {
    background-color: #222a3d;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.snippet {
    background-color: #222a3d;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.code {
    background-color: black;
    color: #00ff88;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
}